<main class="contain">
  <div class="container">
    <button class="js-key white-key" name="Do1">Do</button>
    <button class="js-key black-key1" name="DoReb1">Do# Reb</button>
    <button class="js-key white-key" name="Re1">Re</button>
    <button class="js-key black-key2" name="ReMib1">Re# Mib</button>
    <button class="js-key white-key" name="Mi1">Mi</button>
    <button class="js-key white-key" name="Fa1">Fa</button>
    <button class="js-key black-key3" name="FaSolb1">Fa# Solb</button>
    <button class="js-key white-key" name="Sol1">Sol</button>
    <button class="js-key black-key4" name="SolLab1">Sol# Lab</button>
    <button class="js-key white-key" name="La1">La</button>
    <button class="js-key black-key5" name="LaSib1">La# Sib</button>
    <button class="js-key white-key" name="Si1">Si</button>
    <button class="js-key white-key" name="Do2">Do</button>
    <button class="js-key black-key6" name="DoReb2">Do# Reb</button>
    <button class="js-key white-key" name="Re2">Re</button>
    <button class="js-key black-key7" name="ReMib2">Re# Mib</button>
    <button class="js-key white-key" name="Mi2">Mi</button>
    <button class="js-key white-key" name="Fa2">Fa</button>
    <button class="js-key black-key8" name="FaSolb2">Fa# Solb</button>
    <button class="js-key white-key" name="Sol2">Sol</button>
    <button class="js-key black-key9" name="SolLab2">Sol# Lab</button>
    <button class="js-key white-key" name="La2">La</button>
    <button class="js-key black-key10" name="LaSib2">La# Sib</button>
    <button class="js-key white-key" name="Si2">Si</button>
  </div>
  <div class="btn-container">
    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
      <label class="switch btn-color-mode-switch">
        <input type="checkbox" name="color_mode" id="color_mode" value="1">
        <label for="color_mode" data-on="Manos" data-off="Teclado" class="btn-color-mode-switch-inner"></label>
      </label>
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
  </div>
  <div>
    <img class="hands-image" src="./assets/images/hands.png" alt="posición de manos">
  </div> 
  <include src="./songs-main.html"></include>
  <include src="./tutorials-main.html"></include>
</main>