.contain{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(78, 78, 78, 0.75);
}

.white-key{
    background-color: white;
    width: 4.8vw;
    height: 34vh;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.white-key:hover{
    background-color: #ccccccc8; 
    border: none;
}

.black-key1, .black-key2, .black-key3, .black-key4, .black-key5, .black-key6, .black-key7, .black-key8, .black-key9, .black-key10{
    position: absolute;
    left: 19.4vw;
    width: 2.6vw;
    height: 24vh;
    background-color: black;
    color: white;
    z-index: 1;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(78, 78, 78, 0.75);
    cursor: pointer;
}

.black-key2{
    left: 24.1vw;
}

.black-key3{
    left: 33.8vw;
}

.black-key4{
    left: 38.5vw;
}

.black-key5{
    left: 43.3vw;
}

.black-key6{
    left: 53vw;
}

.black-key7{
    left: 57.8vw;
}

.black-key8{
    left: 67.4vw;
}

.black-key9{
    left: 72.2vw;
}

.black-key10{
    left: 77vw;
}

.black-key1:hover{
  border: none;
  background-color: grey;
}

.black-key2:hover{
  border: none;
  background-color: grey;
}

.black-key3:hover{
  border: none;
  background-color: grey;
}

.black-key4:hover{
  border: none;
  background-color: grey;
}

.black-key5:hover{
  border: none;
  background-color: grey;
}

.black-key6:hover{
    border: none;
    background-color: grey;
  }

.black-key7:hover{
    border: none;
    background-color: grey;
}

.black-key8:hover{
    border: none;
    background-color: grey;
}

.black-key9:hover{
    border: none;
    background-color: grey;
}

.black-key10:hover{
    border: none;
    background-color: grey;
}

.hands-image{
    margin-top: 5px;
    height: 40vh;
}

/*Toggle Switch*/

div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 50px;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -12px;
    margin: 0 6px 0 4px;
}

label {
    font-size: 16px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 150px;
    height: 34px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    top: 7px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 80px;
    height: 21px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 12px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}