@import "./core/variables";
@import "./core/reset";

body{
    background-color: white;
}

header{
    background-color: black;
    color: white;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    margin-left: 50px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: end;
}

.option{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: white;
    color: black;
    margin-right: 40px;
    padding: 12px;
    display: flex;  
}

.option:hover{
    box-shadow: 0 0 40px white;
}

/*Piano*/

.contain{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(78, 78, 78, 0.75);
}

.white-key{
    background-color: white;
    width: 4.8vw;
    height: 34vh;
    border: 1px solid black;
    position: relative;
}

.white-key:hover{
    background-color: #ccccccc8; 
    border: none;
}

.black-key1, .black-key2, .black-key3, .black-key4, .black-key5{
    position: absolute;
    left: 36.2vw;
    width: 2.6vw;
    height: 24vh;
    background-color: black;
    color: white;
    z-index: 1;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(78, 78, 78, 0.75);
}

.black-key2{
    left: 41vw;
}

.black-key3{
    left: 50.6vw;
}

.black-key4{
    left: 55.4vw;
}

.black-key5{
    left: 60.2vw;
}

.black-key1:hover{
  border: none;
  background-color: grey;
}

.black-key2:hover{
  border: none;
  background-color: grey;
}

.black-key3:hover{
  border: none;
  background-color: grey;
}

.black-key4:hover{
  border: none;
  background-color: grey;
}

.black-key5:hover{
  border: none;
  background-color: grey;
}

.button-container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-width: 1px;
    margin-top: 40px;
    padding: 5px 10px 5px 10px;
}

.hands-image{
    margin-top: 5px;
    height: 40vh;
}

/*Toggle Switch*/

div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 50px;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -12px;
    margin: 0 6px 0 4px;
}

label {
    font-size: 16px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 150px;
    height: 34px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    top: 7px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 80px;
    height: 21px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 12px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}

/*Songs*/

.songs{
    background-color: black;
    color: white;
    width: 98vw;
    height: 100vh;
    margin-top: 50px;
}

.title-songs{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.form-song{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.select-song{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 8px;
}

.image-container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    margin-left: 80px;
    margin-top: 50px;
    width: 46vw;
}

.image-listing {
    position: relative;
}

.image-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 83.2%;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-image {
    line-height: 0;
    overflow: hidden;
}
  
.image-song {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    width: 18vw;
}

.image-listing:hover .image-title {
    opacity: 1;
}
  
.image-listing:hover .location-image img {
    filter: blur(2px);
}
  